
/* Generic style */
body {
	background-color: #fff;
	margin: 0px;
	direction: rtl;
	font-family: SansHebrew;
}

header {
	height: 180px;
	width: 100%;
}
header > .logo {
	height: 100%;
	width: 70%;
	background-image: url("../img/logo.png");
	background-repeat: no-repeat;
	background-size: auto 100%;
	float: left;
	margin-left: 50px;
}
header > span {
	width: 10%;
	float: right;
	margin-right: 10%;
	margin-top: 30px;
	color: #0591ac;
}

.clear {clear: both;}

h1 {
	text-align: center;
	text-decoration: none;
	font-size: 28px;
}
h2 {
	text-decoration: none;
	margin-top: 30px;
	font-size: 20px;
	margin-top: -15px;
	margin-bottom: 50px;
	text-align: center;
	color: #aaa;
}
h2.numOfWords {
	float: left;
	margin-top: -80px;
	margin-right: -20px;
	font-size: 16px;
}

input {font-size: 16px;}
input:focus {border-color: #276b64;}


/* Patients Page - Admin */
#wrapper {
	width: 90%;
	height: 100%;
	margin: 0 auto;
	display: block;
}
.actionsBox {
	width: 92%;
	padding: 20px 4%;
	height: auto;
	margin: 0 auto;
	/*border-bottom: 1px solid #ccc;*/
	margin-bottom: 30px;
}
.actionsBox > input {
	margin-top: -30px;
	padding: 5px 10px;
	float: right;
	margin-left: 10px;
}
.actionsBox > button {
	margin-top: -30px;
	padding: 7px 10px;
	border: none;
	font-size: 16px;
	float: right;
	margin-left: 20px;
}
.actionsBox > button.left {float: left;}

.actionsBox > h5 {
	margin-top: -25px;
	float: right;
	font-size: 16px;
}
.actionsBox > img {
	float: right;
	width: 30px;
	height: 30px;
	margin-top: -28px;
	margin-right: 15px;
}




.post {
	width: 92%;
	/*max-height: 235px;*/
	height: auto;
	background-color: #fdfdfd;
	margin-bottom: 30px;
	padding: 20px 4%;
	border-radius: 15px;
	border: 1px solid #cccccc;
	cursor: pointer;
	overflow: hidden;

	position: relative;
    -webkit-transition: max-height 0.2s ease-in-out;
    -moz-transition: max-height 0.2s ease-in-out;
    -o-transition: max-height 0.2s ease-in-out;
    -ms-transition: max-height 0.2s ease-in-out;
    transition: max-height 0.2s ease-in-out;
}
.post:hover {background-color: #f6f6f6;}
.post > a {text-decoration: none;}

.post > a > h6 {
	width: 50%;
	position: absolute;
	text-align: right;
	right: 50px;
	top: -13px;
	font-weight: normal;
	color: #828181;
	font-size: 12px;
}
.post > a > .postSrc {
	width: 50%;
	height: 70px;
	left: 50px;
	top: 12px;
	position: absolute;
	text-align: left;
}
.post > a > .postSrc > img {
	height: 100%;
	width: auto;
	background-size: auto 100%;
	background-repeat: no-repeat;
	background-position: left;
}

.post > a > h3 {color: #211e1f;}

.post > a > h4,h5 {color: #5b5b5c;}


.highlightedText {
    background: yellow;
}





/* Login Form style */

.loginForm {
    max-width: 300px;
    padding: 30px;
    background-color: #F7F7F7;
    margin: 0 auto;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    margin-top: -30px;
    margin-bottom: -100px;
    padding-bottom: 40px;
}
.loginForm > .img-card {
    width: 96px;
    height: 96px;
    margin: 0 auto 20px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.loginForm > form > input[type=email],
.loginForm > form > input[type=password],
.loginForm > form > input[type=text],
.loginForm > form > button {
    width: 100%;
    display: block;
    margin-bottom: 15px;
    z-index: 1;
    position: relative;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    direction: ltr;
}
.loginForm > form input[type="checkbox"] {
    margin-left: 5px;
    float: left;
    width: 16px;
}
.loginForm > form > button {height: 30px; }
.loginForm > form > button > img {margin-top: -12px;}
.loginForm > form > input[type=email]:focus,
.loginForm > form > input[type=password]:focus,
.loginForm > form > input[type=text]:focus {
    border-color: rgb(104, 145, 162, 0.5);
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 4px rgb(104, 145, 162);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 4px rgb(104, 145, 162);
}
.loginForm > form > .btn-signin {
    background-color: rgb(104, 145, 162);
    padding: 0px;
    font-weight: 700;
    font-size: 14px;
    height: 40px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: none;
    -o-transition: all 0.218s;
    -moz-transition: all 0.218s;
    -webkit-transition: all 0.218s;
    transition: all 0.218s;
    color: #fff;
    margin-top: 15px;
}
.loginForm > form > .btn-signin:hover,
.loginForm > form > .btn-signin:active,
.loginForm > form > .btn-signin:focus {background-color: rgb(0, 174, 157);}

#errMsg {
	margin-top: -17px;
	margin-left: 2px;
	font-size: 13px;
	float: left;
	direction: ltr;
	color: #c21212;
}
#statusServer {
    float: left; 
    margin-right: 20px;
    margin-top: 4px;
    margin: 4px 8px 0px 5px;
    width: 17px;
    height: 17px;
}
.loginForm > span {
	margin-top: -12px;
	font-size: 14px;
	float: left;
	direction: ltr;
}





/* Desktop design */
@media only screen and (min-width: 1824px) {
    /* start of large desktop styles */
	h1 {font-size: 32px;}
	h2 {font-size: 22px;}
	h3 {font-size: 22px;}
}


/* Mobile design */
@media screen and (max-width: 479px) {
    /* start of phone styles */
	header {height: 90px;}
	header > .logo {
		margin-top: 10px;
		margin-left: 10px;
	}
	header > span {margin-right: 4%;}
	#wrapper {
		width: 94%;
		overflow: hidden;
	}

	h1 {
		font-size: 17px;
		margin-top: 10px;
		margin-bottom: 30px;
	}
	h2 {font-size: 16px;}
	h3 {font-size: 16px;}

	.post {
		width: 91%;

		padding: 5px 4%;
		margin-bottom: 20px;
	}


	.loginForm {
		max-width: 280px;
	    margin-top: 25px;
	    margin-bottom: 10px;
	}
	.loginForm > .img-card {margin: 0 auto 10px;}
	.loginForm > form > input[type=email],
	.loginForm > form > input[type=password],
	.loginForm > form > input[type=text],
	.loginForm > form > button {margin-bottom: 10px;}

	#errMsg {margin-top: -8px;}
	.loginForm > span {margin-top: 0px;}
	
}


/* font style */
@font-face {
    font-family: SansHebrew;
    src: url("../css/fonts/SansHebrewRegular.woff2");
}
