
/* Generic style */
body {
	background-color: #fff;
	margin: 0px;
	direction: rtl;
	font-family: SansHebrew;
}

header {
	height: 180px;
	width: 100%;
}
header > .logo {
	height: 100%;
	width: 70%;
	background-image: url("../img/logo.png");
	background-repeat: no-repeat;
	background-size: auto 100%;
	float: left;
	margin-left: 50px;
}
header > span {
	width: 10%;
	float: right;
	margin-right: 10%;
	margin-top: 30px;
	color: #0591ac;
}

.clear {clear: both;}

h1 {
	text-align: center;
	text-decoration: none;
	font-size: 28px;
}
h2 {
	text-decoration: none;
	margin-top: 30px;
	font-size: 20px;
	margin-top: -15px;
	margin-bottom: 50px;
	text-align: center;
	color: #aaa;
}
h2.numOfWords {
	float: left;
	margin-top: -80px;
	margin-right: -20px;
	font-size: 16px;
}

input {font-size: 16px;}
input:focus {border-color: #276b64;}


/* Patients Page - Admin */
#wrapper {
	width: 90%;
	height: 100%;
	margin: 0 auto;
	display: block;
}
.actionsBox {
	width: 92%;
	padding: 20px 4%;
	height: auto;
	margin: 0 auto;
	/*border-bottom: 1px solid #ccc;*/
	margin-bottom: 30px;
}
.actionsBox > input {
	margin-top: -30px;
	padding: 5px 10px;
	float: right;
	margin-left: 10px;
}
.actionsBox > button {
	margin-top: -30px;
	padding: 7px 10px;
	border: none;
	font-size: 16px;
	float: right;
	margin-left: 20px;
}
.actionsBox > button.left {float: left;}

.actionsBox > h5 {
	margin-top: -25px;
	float: right;
	font-size: 16px;
}
.actionsBox > img {
	float: right;
	width: 30px;
	height: 30px;
	margin-top: -28px;
	margin-right: 15px;
}




.post {
	width: 92%;
	/*max-height: 235px;*/
	height: auto;
	background-color: #fdfdfd;
	margin-bottom: 30px;
	padding: 20px 4%;
	border-radius: 15px;
	border: 1px solid #cccccc;
	cursor: pointer;
	overflow: hidden;

	position: relative;
    -webkit-transition: max-height 0.2s ease-in-out;
    -moz-transition: max-height 0.2s ease-in-out;
    -o-transition: max-height 0.2s ease-in-out;
    -ms-transition: max-height 0.2s ease-in-out;
    transition: max-height 0.2s ease-in-out;
}
.post:hover {background-color: #f6f6f6;}
.post > a {text-decoration: none;}

.post > a > h6 {
	width: 50%;
	position: absolute;
	text-align: right;
	right: 50px;
	top: -13px;
	font-weight: normal;
	color: #828181;
	font-size: 12px;
}
.post > a > .postSrc {
	width: 50%;
	height: 70px;
	left: 50px;
	top: 12px;
	position: absolute;
	text-align: left;
}
.post > a > .postSrc > img {
	height: 100%;
	width: auto;
	background-size: auto 100%;
	background-repeat: no-repeat;
	background-position: left;
}

.post > a > h3 {color: #211e1f;}

.post > a > h4,h5 {color: #5b5b5c;}


.highlightedText {
    background: yellow;
}







/* Desktop design */
@media only screen and (min-width: 1824px) {
    /* start of large desktop styles */
	h1 {font-size: 32px;}
	h2 {font-size: 22px;}
	h3 {font-size: 22px;}
}


/* Mobile design */
@media screen and (max-width: 479px) {
    /* start of phone styles */
	header {height: 90px;}
	header > .logo {
		margin-top: 10px;
		margin-left: 10px;
	}
	header > span {margin-right: 4%;}
	#wrapper {
		width: 94%;
		overflow: hidden;
	}

	h1 {
		font-size: 17px;
		margin-top: 10px;
		margin-bottom: 30px;
	}
	h2 {font-size: 16px;}
	h3 {font-size: 16px;}

	.post {
		width: 91%;

		padding: 5px 4%;
		margin-bottom: 20px;
	}
}


/* font style */
@font-face {
    font-family: SansHebrew;
    src: url("../css/fonts/SansHebrewRegular.woff2");
}
