<!DOCTYPE html>

<html ng-app="app">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="js/libs/angular.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-local-storage/0.5.2/angular-local-storage.min.js"></script>
    <script src="js/scriptAdmin.js"></script>
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body ng-controller="appCtrl">

	<header>
		<div class="logo"></div>
		<span>בס"ד</span>
	</header>

	<div id="wrapper">
		<h1>רשימת כתבות</h1>

		<div class="actionsBox">

			<input type="text" name="searchKeyword" ng-model="searchInput" placeholder="הקלד מילת חיפוש כאן ...">
			<button ng-click="searchKeywordServer()">חפש</button>

			<h5 ng-show="!loading">
				<span ng-show="searchKeyword">"{{searchKeyword}}" מופיע ב-</span>
				{{posts.length}} כתבות שונות,  סה"כ : {{numberOfTimes()}} פעמים
			</h5>

			<img src="./img/loading.gif" ng-show="loading">

			<!-- <button ng-click="getNewPosts()" class="left">Get New Posts</button> -->
			<button ng-click="getAllPosts()" class="left">Get All Posts</button>

		</div>
		<div class="post" ng-repeat="post in posts track by $index" ng-show="post.title">
			<a ng-href="{{post.url}}" target="_blank">
				<h6>{{post.date}}</h6>
				<div class="postSrc">
					<img ng-src="./img/{{post.name}}.png">
				</div>
				<h3 ng-bind-html="highlight(post.title, searchKeyword)">{{post.title}}</h3>
				<h4 ng-bind-html="highlight(post.subtitle, searchKeyword)">{{post.subtitle}}</h4>
				<h5 ng-bind-html="highlight(post.text, searchKeyword)">{{post.text}}</h5>
			</a>
		</div>

	</div>

</body>



</html>